<div class"content">
    <p>Comment: {{comment.comment}}</p>
</div>

<a href="/comments/{{comment._id}}/edit">Edit Comment Post</a>

<form action="/comments/{{comment._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Comment">
</form>