<form method="POST" action="/media/{{media._id}}/comments">
  <div class="form-group">
    <label for="formGroupExampleInput">Comments</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Comments" name="comment" />
  </div>

  <input id="submitBtn" type="submit" value="Create Movie Review" />
</form>