body {
    font-size: 100%;
    line-height: 1.4;
    background-color: #eaeaea;
}

h1, h3 {
    font-weight: 900;
}

h1, h2 {
    margin: 30px auto;
    text-align: center;
    color: #505961;
}

.movie, .media {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #fff;
    width: 70%;
    height: 193px;
    margin: 15px auto;
}

.movie img, .media img {
    float: left;
    margin-right: 20px;
    max-width: 29%;
    max-height: 100%;
    object-fit: cover;
}

.commentsBox {
    width: 70%;
    margin: 15px auto;
    border: solid 1px #505961;
}

.userPost {
    margin: 15px 10px;
    border-bottom: solid 1px #505961;
    padding-bottom: 5px;
}

.comment {
    display: flex;
    justify-content: space-between;
    margin: 10px; 
}

.commentText {
    margin-left: 15px;
}

.comments {
    background-color: #fff;
    width: 70%;
    height: 193px;
    margin: 15px auto;
}
/* .input-group {
    width: 70%;
    margin: 0 auto;
} */

#input {
    width: 70%;
    margin: 0 auto;
}

.reply {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#replyInput {
    width: 700px;
}

#editComment {
    float: right;
    padding: 0 auto;
}

.postCommentBtn {
    float: right;
    margin-right: 15%;
}

.form-group {
    width: 60%;
    margin: 15px auto;
}

#submitBtn {
    float: right;
    margin-right: 20%;
}

.table {
    width: 75%;
    margin: 0 auto;
}

.userName {
    width: 120px;
}

.edit {
    width: 140px;
}

.createDate {
    width: 295px;
}

.post {
    width: 190px;
}

.reviewBtn {
    float: right;
    /* margin-right: 15%; */
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 70%;
    height: 100%;
    /* margin: 15px auto; */
}

.title, img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    border-top: solid 1px;
    border-color: #505961;
    padding-top: 20px;
}

.info {
    width: 20%;
}

.review {
    width: 80%;
}

a:link {
    text-decoration: none;
}

.viewBtn {
    margin-top: 20px;
    margin-right: 15%;
    margin-bottom: 20px;
    float: right;
}

.allMediaBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#submitBtn {
    margin-bottom: 20px;
}

.fixed-top {
    display: flex;
    justify-content: flex-start;
}

.mainPage {
    margin-top: 70px;
}

.intro {
    margin: 20px auto;
    text-align: center;
}

.note {
    margin: 30px auto;
    text-align: center;
    font-weight: 700;
    color: red;
}

.reviewPostBtn {
    margin-left: 15%;
    height: 40px;
}

.reviewPostBtn:hover {
    background-color: rosybrown;
}

#postBtn {
    padding: 15px 0;
}