body {
    font-size: 100%;
    line-height: 1.4;
    background-color: #eaeaea;
}

h1, h3 {
    font-weight: 900;
}

h1, h2 {
    margin: 30px auto;
    text-align: center;
    color: #505961;
}

.movie, .media {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #fff;
    width: 70%;
    height: 180px;
    margin: 15px auto;
}

.movie img, .media img {
    float: left;
    margin-right: 20px;
    width: 20%;
    object-fit: cover;
}

.comment {
    margin-left: 15%;
}

.form-group {
    width: 60%;
    margin: 15px auto;
}

#submitBtn {
    float: right;
    margin-right: 20%;
}

.table {
    width: 70%;
    margin: 0 auto;
}

.userName {
    width: 180px;
}

.createDate {
    width: 300px;
}


