<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/movies">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Movies</a>
      <a class="nav-item nav-link" href="#">Musics</a>
      <a class="nav-item nav-link" href="#">Books</a>
      <a class="nav-item nav-link" href="/movies/new">Post New Review</a>
    </div>
  </div>
</nav>

<h2>Create New Movie Review</h2>

<form method="POST" action="/movies">
  <div class="form-group">
    <label for="formGroupExampleInput">Type of media</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Type of media" name="type" />
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Title "name="title" />
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Rating</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Rating" name="rating" />
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Review</label>
    <textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Review" name="review"></textarea>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Image Link</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Image Link" name="imgLink" id="img-link"/>
  </div>
  <input id="submitBtn" type="submit" value="Create Movie Review" />
</form>

{{!-- <form method="POST" action="/movies">

  <input type="text" placeholder="Type of media" name="type" />

  <input type="text" placeholder="Title "name="title" />

  <input type="text" placeholder="Rating" name="rating" />

  <input type="text" placeholder="Review" name="review" />

  <input type="text" name="imgLink" id="img-link"/>

  <input type="submit" value="Create Movie Review" />
  
</form> --}}
