<form method="POST" action="/movies">

  <input type="text" placeholder="Type of media" name="type" />

  <input type="text" placeholder="Title "name="title" />

  <input type="text" placeholder="Rating" name="rating" />

  <input type="text" placeholder="Review" name="review" />

  <input type="text" name="imgLink" id="img-link"/>

  <input type="submit" value="Create Movie Review" />
  
</form>
