<form method="POST" action="/movies">

  <input type="text" placeholder="Type of media" name="type" />

  <input type="text" placeholder="Title "name="title" />

  <input type="text" placeholder="Year" name="year" />

  <input type="text" placeholder="Genre" name="genre" />

  <input type="text" placeholder="Review" name="review" />

  <input type="submit" value="Create Movie" />
  
</form>
